.grid{
    border: 2px solid black;
    border-radius: 6%;
    gap: 16px;
    padding: 16px;
    margin: 2%;
    height: 300px;
    width: 400px;
    margin-left: 8px;
}

.grid-item{
    border-bottom: 1px solid black;
}

#root {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 900px) {
    .grid{
        width: 80%
    }
    #root {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}